@model IEnumerable<EntityLayer.Concrete.Product>


<!-- Project Start -->
<div class="feature-01">
    <div class="text-urun">
        <p class="urunler">Ürünler</p>
        <div class="flex-wrapper-one">
            <p class="ueruenler-hakkinda-kisa-aciklama">
                Ürünler Hakkında Kısa Açıklama
            </p>
            <p class="tum-urunleri-goruntule">
                <a href="#" style="color:#000336;">Tüm Ürünleri Görüntüle </a>
            </p>
        </div>

    </div>
    <div class="flex-wrapper-one">
        <div class="container">
            <div class="row">
                    @foreach (var x in Model)
                    {
                        <div class="col-4">
                            <div class="card-01 mt-5">
                                <img alt=""
                                     class="image"
                                     src="@x.ProductImage" />
                                <p class="ueruen-baslik">@x.Category.CategoryName</p>
                                <p class="ueruen-aciklama">@x.ProductTitle</p>
                                <p class="ueruen-aciklama" style="width:350px; height:150px; max-width:300px;">@x.ProductContent.Substring(0,x.ProductContent.Substring(0,100).LastIndexOf(""))...</p>
                                @*<p class="ueruen-aciklama">Tarih: @x.ProductDate</p>*@
                            </div>                  
                         </div>
                        if (x.ProductID == 3)
                        {
                            break;
                        }
                    }


            </div>

        </div>
    </div>
</div>
<!-- Project End -->


